.button {
    -fx-font-weight: bold;
}
#bgPane{
    -fx-background-image: url("..//bgLarge.png");
    -fx-background-repeat: stretch;
}
.promptText, .textField, .text-input, .text-input:focused {
    -fx-prompt-text-fill:darkgray; 
}